* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins";
}

/* Utility */
.dotted {
    border-style: dotted;
}

.bg-gray {
    background-color: lightgray;
}

.bg-dark {
    background-color: rgb(44, 44, 44);
}

.magenta {
    background-color: magenta;
}

.pink {
    background-color: pink;
}

.blue {
    background-color: skyblue;
}

.dark-cyan {
    background-color: darkcyan;
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

.w-80 {
    width: 80%;
}

.h-400 {
    height: 400px;
}

.d-flex {
    display: flex;
}

.dashed {
    border: 2px dashed black;
}

.p20 {
    padding: 20px;
}

.square {
    margin: 0 auto;
    height: 100%;
}

/* HEADER */
header {
    height: 100px;
}

.head-container {
    width: 80%;
    background-color: orange;
    margin: 20px auto;
    font-weight: 600;
}

.head-small-col {
    width: 20%;
}

.head-big-col {
    width: 60%;
    text-align: center;
}

.menu-btn {
    list-style-type: none;
    display: inline-block;
    margin: 0 5px;
}

.menu-btn a {    
    text-decoration: none;
    color: black;
    transition: .3s;
}

.menu-btn a:hover {
    color: white;
    text-decoration: underline;
}

.head-content:last-child {
    text-align: right; /* Ho voluto provare in questo modo */
}

/* MAIN */
section {
    margin: 50px 0;
    padding: 50px 0;
    height: 400px;
}

section:first-child{
    background-color: navy;
}

section:nth-child(5) {
    height: 600px;
}

section:nth-child(5) .square{
    background-color: green;
}